//@import '~bootstrap';

body {
    background: paleturquoise;
    background-image: url("./waitingsmall.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

// div .cat {
//   background-image: url('waiting.png');
// }